.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.software-skill-inline > i {
  color: var(--color-text-muted);
  transition: color 0.3s ease;
}

.software-skill-inline > i:hover {
  color: var(--color-accent-1);
}

.software-skill-inline > p {
  color: var(--color-text-muted);
  font-size: 10px;
  transition: color 0.3s ease;
}

.software-skill-inline > i:hover ~ p {
  color: var(--color-accent-1);
}
